* {
  font-family: Rubik;
  text-decoration: none;
}

.header-container {
  width: 100vw;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.logo-1 {
  width: 155px;
  height: 70px;
}

.menu {
  font-size: 16px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.nav-links {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: #4a4a4a;
  padding: 1px;
}

.main-section {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-1 {
  width: 200px;
}
.title-1 h1 {
  text-transform: capitalize;
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .menu {
    margin-right: 13px;
    font-size: 16px;
  }

  .title-1 h1 {
    font-size: 40px;
  }
}
