* {
  font-family: Rubik;
}

.header-container {
  width: 100vw;
  padding-top: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
}

.logo-1 {
  width: 155px;
  height: 100px;
}

.menu {
  font-size: 16px;
}

.main-section {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
